.container {
    width: 375px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: minmax(375px, 1fr);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}